<!DOCTYPE html>
<html lang="en">
<head>
	<title>Potluck</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='prism-okaidia.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='custom.min.css') }}">
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
	<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://bootswatch.com/_vendor/prismjs/prism.js" data-manual=""></script>
</body>
</html>
