{% extends 'main.html' %}
{% block sidebar %}
<div class="list-group">
  <a href="/" class="list-group-item list-group-item-action">Home</a>
  <a href="/command" class="list-group-item list-group-item-action active">Command</a>
  <a href="/keylogger" class="list-group-item list-group-item-action">Keylogger</a>
  <a href="/listeners" class="list-group-item list-group-item-action">Listeners</a>
  <a href="/settings" class="list-group-item list-group-item-action">Settings</a>
</div>
{% endblock %}
{% block main %}
<!-- success/fail notice goes here -->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
	<h2 class="accordion-header" id="headingOne">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		Command Logs
	  </button>
	</h2>
	<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
	  <div class="accordion-body">
		<table class="table table-hover">
		  <thead>
			<tr>
			  <th scope="col">ID</th>
			  <th scope="col">Client</th>
			  <th scope="col">Input</th>
			  <th scope="col">Output</th>
			  <th scope="col">IP Address</th>
			</tr>
		  </thead>
		  {% for x in logs %}
		  <thead>
			<tr>
		      <!--change logs to list so [::-1] can be used-->
		      <!-- logs should hyperlink to api endpoint so full output can be read -->
		      <!-- scroll -->
			  <td>{{x.id}}</td>
			  <td>{{x.log_client_id[0:4]}}...</td>
			  <td>{{x.log_cmd_input}}</td>
			  <td><a href="/api/logs/{{x.id}}">{{x.log_cmd_output}}</a></td>
			  <td>ip address</td>
			</tr>
		  </thead>
		  {% endfor %}
		</table>
	  </div>
	</div>
  </div>
  <div class="accordion-item">
	<!-- accordians stay open -->
	<h2 class="accordion-header" id="headingTwo">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		Command
	  </button>
	</h2>
	<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
	  <div class="accordion-body">
		<div class="form-group">
			<form action="/command" method="POST">
				<label for="exampleSelect1" class="form-label mt-4">Client</label>
				<select multiple class="form-select" id="exampleSelect1" name="client">
					<!-- autoselect the first instance -->
					{% for y in clients %}
					<option>{{y['id']}}</option>
					{% endfor %}
				</select>
				<!-- probably should have seperate group select -->
				<p><small>You can select multiple entries</small></p>
				<label for="exampleSelect1" class="form-label mt-4">Type</label>
				<select class="form-select" id="exampleSelect2" name="type">
					<option>Execute</option>
					<option>Ping</option>
					<option>Exit</option>
				</select>
				<label class="col-form-label mt-4" for="inputDefault">Command</label>
				<input type="text" class="form-control" placeholder="Enter command here" id="inputDefault" name="command">
				<pre></pre>
				<button type="submit" name="command-submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	  </div>
	</div>
  </div>
  <div class="accordion-item">
	<h2 class="accordion-header" id="headingThree">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		Configure
	  </button>
	</h2>
	<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
	  <div class="accordion-body">
		<div class="form-group">
			<form action="/configure" method="POST">
				<label for="exampleSelect2" class="form-label mt-4">Clients</label>
				<select multiple class="form-select" id="exampleSelect2" name="client">
					{% for z in clients %}
					<option>{{z['id']}}</option>
					{% endfor %}
				</select>
				<p><small>You can select multiple entries</small></p>
				<!-- type=configure -->
				<label class="col-form-label mt-4" for="inputDefault">Settings</label>
				<!--settings, toggle switches, forms-->
				<pre></pre>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	  </div>
	</div>
  </div>  
  <div class="accordion-item">
	<h2 class="accordion-header" id="headingFour">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		Clients and Groups
	  </button>
	</h2>
	<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
	  <div class="accordion-body">
		<legend class="mt-4">Clients</legend>
		<table class="table table-hover">
		  <thead>
			<tr>
			  <th scope="col">ID</th>
			  <th scope="col">Name</th>
			  <th scope="col">IP Address</th>
			  <th scope="col">OS</th>
			  <th scope="col">Ping</th>
			</tr>
		  </thead>
		  {% for v in clients %}
		  <thead>
			<tr>
		      <!--change logs to list so [::-1] can be used-->
		      <!-- scroll -->
			  <td>{{v['id'][0:8]}}...</td>
			  <td>{{v['name']}}</td>
			  <td>{{v['ip']}}</td>
			  <td>{{v['os']}}</td>
			  <td>{{v['ping']}}</td>
			</tr>
		  </thead>
		  {% endfor %}
		</table>
		<legend class="mt-4">Groups</legend>
		<table class="table table-hover">
		  <thead>
			<tr>
			  <th scope="col">ID</th>
			  <th scope="col">Name</th>
			  <th scope="col">Members</th>
			</tr>
		  </thead>
		  <!-- add scrolling -->
		  {% for q in groups %}
		  <thead>
			<tr>
			  <td>{{q['id']}}</td>
			  <td>{{q['name']}}</td>
			  <td>{{q['members']}}</td>
			</tr>
		  </thead>
		  {% endfor %}
		</table>
	  </div>
	</div>
  </div>
  <div class="accordion-item">
	<h2 class="accordion-header" id="headingFive">
	  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		Create Group
	  </button>
	</h2>
	<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
	  <div class="accordion-body">
		<div class="form-group">
			<form action="/command" method="POST">
				<label for="exampleSelect3" class="form-label mt-4">Clients</label>
				<select multiple class="form-select" id="exampleSelect3" name="client">
					<!-- autoselect the first instance -->
					{% for y in clients %}
					<option>{{y['id']}}</option>
					{% endfor %}
				</select>
				<p><small>You can select multiple entries</small></p>
				<label class="col-form-label mt-4" for="inputDefault">Group Name</label>
				<input type="text" class="form-control" placeholder="Enter group name here" id="inputDefault" name="name">
				<pre></pre>
				<button type="submit" name="group-submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	  </div>
	</div>
  </div>
</div>
{% endblock %}
