{% extends 'main.html' %}
{% block main %}
<div class="row">
	<div class="column" style=width:25%>
		<div class="list-group">
			<a href="/user" class="list-group-item list-group-item-action">User Settings</a>
			{% if current_user.admin %}
				<a href="/admin" class="list-group-item list-group-item-action">Admin Panel</a>
			{% endif %}
		</div>
	</div>
	<div class="column" style=width:50%>
		<h1>Welcome</h1>
		<hr>
		<h2>Projects</h2>
		<div class="list-group">
		{% for x in projects_dict %}
		{% if current_user.id in x['users'] or current_user.admin %}
			<a href="/project/{{x['slug']}}" class="list-group-item list-group-item-action">{{x['name']}} <small>({{x['id'][0:8]}})</small></a>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}
